body{
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#listings {
  position: relative;

  margin: 12vh 0 0;

  width: 100%;
  height: 88vh;
}

#listingsFrame{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;  
		
  height: 100%;
  width: 85%;

  margin: auto;
}

#card {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 400px;

  margin: 5px 0.5%;

  border: 3px solid black;
  border-radius: 2px;
  border-width: 1px;
}

#listingCardImage{
  height: 50%;

  border: 0px solid transparent;
  border-radius: 2px 1px 1px 2px;
  background-size: cover;
}

#listingText{
  float: right;
  width: 100%;
  height: 45%;
  margin: 2.5% auto;
}

#listingText>h2, #listingText>p{
  margin: 3px 10px;
}

#listingButton{
  height: 10%
}

#listingCardAccept{
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  font-size: 1.1rem;
}

#listingCardAccept.ButtonEnabled{
  box-shadow: 0px 0px 25px 0px mediumspringgreen;
}

#viewContainer{
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  float: left;

  margin: 0;

  width: 100%;
  height: 100%;
}

#viewCard {
  position: absolute;
  top: calc(100% - 475px);
  left: calc(100% - 350px);
  width: 325px;
  height: 450px;

  background: white;

  border: 0px solid transparent;
  border-radius: 25px;

  box-shadow: 1px 1px 5px #000a;
}

#innerViewCard{
  position: absolute;
  width: 100%;
  height: 100%;
}

#innerViewCard>h2, #innerViewCard>h3, #innerViewCard>p{
  margin: 15px 10px 0;
}
/*
#innerViewCard>h2{
  height: 250px;
}

#innerViewCard>p{
  height: 90px;
}
*/
#viewCardImage{
  width: 325px;
  height: 200px;
  float: left;
  border: 0px solid black;
  border-radius: 25px 25px 0 0;
  background-size: cover;
}

#viewCard>h2{
  width: 225px;
  float: right;
  margin: 15px 0 5px;
  padding: 0 0 0 25px;

  text-align: left;
}

#viewCard>h3{
  width: 225px;
  float: right;
  margin: 5px 0;
  padding: 0 0 0 25px;

  text-align: left;

  color: mediumseagreen;
}

#viewCard>p {
  text-align: left;
  float: right;
  width: 225px;
  margin: 5px 0;
  padding: 0 0 0 25px;
}

#viewCardAccept {
  position: absolute;
  top: 405px;
  
  width: 150px;
  margin: 5px calc(50% - 75px);
  padding: 5px 5px 5px 5px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50px;
}

.ButtonEnabled {
  color: white;
  background: mediumseagreen;
}

.ButtonDisabled {
  color: white;
  background: lightgray;
}

#overlay{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /*opacity: 0.5;*/
}

.opaque-text{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  top: 0px;
  height: 5%;
  width: 100%;
  opacity: 0.8;
  background-color: #000;
  color: #fff;
  font-size: 32px;
  font-weight: 600;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
