#createAccountCard{
	position: absolute;
	top: 30vh;
	left: 25vw;

	display: flex;
	flex-direction: column;

	width: 50vw;
	height: 50vh;

	background: mintcream;

	border: 0px solid black;
	border-radius: 3px;

	box-shadow: 3px 3px 4px 1px black;
}

#createAccountCardFields{
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 70%;
}

#createAccountCardFields>#leftField{
	width: 50%;
	height: 100%;
}

#createAccountCardFields>#rightField{
	width: 50%;
	height: 100%;
}

.textField{
	height: calc(30% - 20px);
	width: calc(100% - 50px);
	
	padding: 5px 20px 4px;
	margin: 5px;

	font-size: 2rem;
	
	border: 0;
	border-radius: 0;

	border-bottom: 1px solid black;
}

#usernameEntryContainer{
	display: flex;
	flex-direction: row;
	width: 100%;
}

#usernameEntry{
	width: calc(100% - 70px);
}

#usernameAvailability{
	width: 30px;
}

#usernameAvailability>{
	text-align: center;
}

#passwordEntry{

	font-size: 1rem;
}

#loginMessage{
	height: 10%;
	width: 100%
}

#loginMessage>p{
	color: red;
	text-align: center;
	margin: 2px 0 0;
	padding: 0;
}

#submitFields{
	display: flex;
	flex-direction: row;

	height: 20%;
	width: 100%;
}

#createAccountButton{
	height: calc(100% - 10px);
	width: calc(50% - 10px);

	margin: 5px;

	border: 0;

	color: white;
	background: skyblue;

	border: 0;
	border-radius: 2px;
}

#backButton{
	height: calc(100% - 10px);
	width: calc(50% - 10px);

	margin: 5px;

	border: 0;

	color: black;
	background: transparent;

	border: 0;
	border-radius: 2px;
}
