#menu{
    position: absolute;
    top: 15px;
    left: 5%;
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 1px solid transparent;
    border-radius: 50px;

    background: white;
    box-shadow: 1px 1px 5px darkslategrey;
}

.menu_item{
    width: 16%;
    margin: auto 1%;
    text-align: center;

    border: 1px solid transparent;
    border-radius: 50px;

    text-decoration: none;
    color: black;
}

.menu_item>a{
    text-decoration: none;
    color: black;
}

.menu_item:hover{
    background: #eee;
}

#menu_element_parent{
    display: flex;
    flex-direction: row;

    justify-content: center;
    vertical-align: middle;
}

#menu_center{
    text-align: center;

    border: 1px solid transparent;
    border-radius: 50px;
    width: 120px;
    height: auto;
    margin: -12px 0;
}

#menu_center>img{
    width: 100%;
    height: auto;
}

#menu_account{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 85%;
}

#menu_account>#menu_thumbnail{
    width: 32px;
    height: 32px;

    margin: auto;

    background-position: center;
    background-size: cover;

    border: 0px solid transparent;
    border-radius: 50px;
}

#menu_account>#menu_account_name{
    margin: auto;
    width: calc(100% - 32px - 10px);
}

#menu_logout{
    width: 15%;
    margin: auto;
}

#menu_logout>p{
    margin: auto;
}